<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="test">
	<test name="depends">
		<groups>
			<dependencies>
			<group depends-on="GroupOne" name="GroupTwo"></group>
			</dependencies>
		</groups>
		<classes>
			<class name="depends.DependsOnGroupTest" />			
		</classes>
	</test>
</suite>